<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.cj.mapper.TreeMapper">
	<!-- 递归树查询登陆用户的权限树 -->
	<select id="getMyTree" resultType="com.jk.cj.model.TreeBean">
		select * from t_tree n
		left join t_role_power rp on n.id=rp.powerId
		left join t_user_role ur on rp.roleId=ur.roleId
		where ur.userId=1 and n.pid=#{id}
		group by n.id
	</select>
</mapper>